* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("./fonts/Gilroy-Medium.ttf");
}

.menu__bar {
  width: 1016px;
  height: 40px;
  flex-shrink: 0;
  margin-left: 375px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 346px;
}

.logo-block {
  display: flex;
  gap: 14px;
  width: 137px;
  height: 40px;
  flex-shrink: 0;
}

.logo {
  width: 35px;
  height: 40px;
  flex-shrink: 0;
  background-color: transparent;
}

.grow-be {
  width: 88px;
  height: 30px;
  flex-shrink: 0;
  font-size: 0;
  line-height: 0;
  display: inline-block;
}

.grow {
  color: #000;
  font-family: "Gilroy-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.be {
  color: #f25822;
  font-family: "Gilroy-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main__menu {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  width: 533px;
  height: 17px;
  flex-shrink: 0;
}

.menu__link {
  color: #000;
  font-family: "Gilroy-Medium";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.home {
  color: #f25822;
  font-family: "Gilroy-SemiBold";
}

.features-block {
  display: flex;
  align-items: center;
  gap: 2px;
}

.icon {
  width: 6px;
  height: 3px;
  flex-shrink: 0;
}

.home__meta {
  position: absolute;
  left: 373px;
  top: 223px;

  width: 522px;
  height: 374px;
  flex-shrink: 0;
}

.title {
  width: 522px;
  height: 222px;
  flex-shrink: 0;

  color: #000;
  font-family: "Gilroy-Bold";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sub__title {
  margin-top: 17px;

  width: 466px;
  height: 48px;
  flex-shrink: 0;

  color: #888;
  font-family: "Gilroy-Medium";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main__image {
  width: 610.735px;
  height: 372.904px;
  flex-shrink: 0;

  position: absolute;
  top: 164px;
  left: 934px;
}

.button_meta {
  width: 302px;
  height: 50px;
  flex-shrink: 0;

  margin-top: 37px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 72px;
}

.button__start {
  width: 140px;
  height: 50px;
  flex-shrink: 0;

  border: none;
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);

  color: #fff;
  font-family: "Gilroy-Bold";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.video {
  width: 90px;
  height: 19px;
  flex-shrink: 0;
  text-decoration: none;

  color: #aaa;
  font-family: Gilroy-Bold;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.brand__logo {
  width: 1200px;
  height: 50px;
  flex-shrink: 0;

  display: flex;
  gap: 48px;

  position: absolute;
  margin-left: 345px;
  margin-top: 697px;
}

.logo1 {
  width: 160px;
  height: 50px;
  flex-shrink: 0;
}

.logo2 {
  width: 160px;
  height: 50px;
  flex-shrink: 0;
}

.logo3 {
  width: 160px;
  height: 50px;
  flex-shrink: 0;
}

.logo4 {
  width: 160px;
  height: 50px;
  flex-shrink: 0;
}

.logo5 {
  width: 160px;
  height: 50px;
  flex-shrink: 0;
}

.logo6 {
  width: 160px;
  height: 50px;
  flex-shrink: 0;
}
